NEXT_PUBLIC_SUPABASE_URL=https://ypmiinmkyvzdpakbkers.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_5qcy4L4sPBxHqRdvk_A1kw_tPJPXxhm
NEXT_PUBLIC_SITE_URL=https://rtcrackers.com
CMS_REVALIDATE_SECONDS=30
